.cell {
    width: 6rem;
    height: 6rem;
    border: 1px solid var(--primary);
    background-color: var(--bg);
}

button {
    width: 6rem;
    height: 6rem;
    background-color: var(--bg);
}

button.x {
    outline: none;
    color: #21f;
}

button.o {
    outline: none;
    color: #f12;
}

.mark {
    font-size: 72px;
}

/* Removing the outer borders */
.cell:first-of-type, 
.cell:nth-of-type(2), 
.cell:nth-of-type(3) {
    border-top: none;
}

.cell:nth-of-type(3n) {
    border-right: none;
}

.cell:nth-last-of-type(3), 
.cell:nth-last-of-type(2), 
.cell:last-of-type {
    border-bottom: none;
}

.cell:nth-of-type(3n + 1) {
    border-left: none;
}